<h1>Dernier artiste ajouté</h1>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{latestArtist?.firstName}} {{latestArtist?.lastName}}</mat-card-title>
    <mat-card-subtitle>{{latestArtist?.birthDate | date:"dd/MM/yyyy"}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<h1>Liste des artistes de l'application</h1>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Limite atteinte ou contenu indisponible.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="artists" class="example-table" >
      <caption>Table présentant tous les artistes</caption>
           <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef> Pseudonyme </th>
            <td mat-cell *matCellDef="let artist"> {{artist.nickName}} </td>
          </ng-container>
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> prénom </th>
            <td mat-cell *matCellDef="let artist"> {{artist.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> nom </th>
            <td mat-cell *matCellDef="let artist"> {{artist.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef> date de naissance </th>
            <td mat-cell *matCellDef="let artist"> {{artist.birthDate | date:"dd/MM/yyyy"}} </td>
          </ng-container>
          <ng-container matColumnDef="artistStyle">
            <th mat-header-cell *matHeaderCellDef> Style de musique </th>
            <td mat-cell *matCellDef="let artist"> {{artist.artistStyle}} </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Date de création</th>
            <td mat-cell *matCellDef="let artist"> {{artist.createdAt | date:"dd/MM/yyyy"}}</td>
          </ng-container>
          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> Dernière modification</th>
            <td mat-cell *matCellDef="let artist"> {{artist.modifiedAt | date:"dd/MM/yyyy"}}</td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="20" aria-label="Choisir une page de résultat"></mat-paginator>
</div>

<h1>Ajouter un artiste à l'application</h1>
<app-create-artist (updateLatestArtist)="loadLatest()"></app-create-artist>


